<header>
  <!-- LinhaAzul -->
  <div class="link-covid">
    <p>
      COVID-19 - <a href="#">Clique aqui</a> e entenda mais sobre esta doença!
    </p>
  </div>
  <!-- ./LinhaAzul -->

  <!-- LinhaNavbar -->
  <div class="linha-navbar">

    <!-- Logo -->
    <div class="logo">
      <img src="/assets/images/logo.svg" alt="Logo Meddy">
    </div>
    <!-- ./Logo -->

    <!-- Espaçador -->
    <div class="espacador"></div>
    <!-- ./Espaçador -->

    <!-- Menu -->
    <nav>
      <ul>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">COVID-19</a></li>
        <li><a href="#">Área do Médico</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </nav>
    <!-- ./Menu -->

  </div>
  <!-- ./LinhaNavbar -->

  <!-- LinhaApresentacao -->
  <div>

  </div>
  <!-- ./LinhaApresentacao -->

</header>
