@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  --primary-color-regular:#2db1e0;
  --gray900: #383b40;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}
